# 示例：忽略文件夹   datasets/ # 忽略整个文件夹
datasets/
data_test/
.idea/
agent_encoder/old_runs/
agent_encoder/runs/
agent_encoder/train_loss/
agent_encoder/visualization/
agent_encoder/weights/
agent_encoder/weights_rgb/
figure_result/figs/
figure_result/beta*
little_test/
__pycache__/
