# 示例：忽略文件夹
Testing/    # 忽略整个文件夹
datasets/
.idea/
agent_encoder/output_plots/
agent_encoder/train_loss/
agent_encoder/visualization/
agent_encoder/weights/611*
agent_encoder/weights/917*
agent_encoder/weights/520_beta_*_LD_64_epoch_30.pth
agent_encoder/weights/520_beta_*_LD_64_epoch_40.pth
agent_encoder/weights/520_beta_*_LD_64_epoch_20.pth
